.Root {
    max-width: 50rem;
    margin: 0 auto;
}

.Root nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 .Root nav li {
    float: left;
  }
  
 .Root nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
.Root nav li a:hover {
    background-color: #111;
  }

.LanguageSelectorContainer {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    float: right;
  }